@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

  :root {
    --background: 48 33.33% 97.05%;
    --foreground: 48 19.6% 20%;
    --card: 48 33.33% 97.05%;
    --card-foreground: 60 2.56% 7.64%;
    --popover: 0 0% 100%;
    --popover-foreground: 50.7692 19.4% 13.13%;
    --primary: 15.1111 55.55% 52.35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 46.1538 22.8% 88.82%;
    --secondary-foreground: 50.7692 8.49% 30%;
    --muted: 44 29.41% 90%;
    --muted-foreground: 50 2.36% 50.19%;
    --accent: 46.1538 22.8% 88.82%;
    --accent-foreground: 50.7692 19.4% 13.13%;
    --destructive: 0 84.23% 60.19%;
    --destructive-foreground: 0 0% 100%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 100%;
    --border: 50 7.5% 84.31%;
    --input: 50.7692 7.97% 68.03%;
    --ring: 15.1111 55.55% 52.35%;
    --chart-1: 18.2813 57.14% 43.92%;
    --chart-2: 251.4545 84.61% 74.5%;
    --chart-3: 46.1538 28.26% 81.96%;
    --chart-4: 256.5517 49.15% 88.43%;
    --chart-5: 17.7778 60% 44.11%;
    --sidebar: 51.4286 25.92% 94.7%;
    --sidebar-foreground: 60 2.52% 23.33%;
    --sidebar-primary: 15.1111 55.55% 52.35%;
    --sidebar-primary-foreground: 0 0% 98.43%;
    --sidebar-accent: 46.1538 22.8% 88.82%;
    --sidebar-accent-foreground: 0 0% 20.39%;
    --sidebar-border: 0 0% 92.15%;
    --sidebar-ring: 0 0% 70.98%;
    --font-sans: "Work Sans", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 60 2.7% 14.5%;
    --foreground: 46.1538 9.77% 73.92%;
    --card: 60 2.7% 14.5%;
    --card-foreground: 48 33.33% 97.05%;
    --popover: 60 2.12% 18.43%;
    --popover-foreground: 60 5.45% 89.21%;
    --primary: 14.7692 63.1% 59.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 33.33% 97.05%;
    --secondary-foreground: 60 2.12% 18.43%;
    --muted: 60 3.84% 10.19%;
    --muted-foreground: 51.4286 8.86% 69.01%;
    --accent: 48 10.63% 9.21%;
    --accent-foreground: 51.4286 25.92% 94.7%;
    --destructive: 0 84.23% 60.19%;
    --destructive-foreground: 0 0% 100%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 100%;
    --border: 60 5.08% 23.13%;
    --input: 52.5 5.12% 30.58%;
    --ring: 14.7692 63.1% 59.6%;
    --chart-1: 18.2813 57.14% 43.92%;
    --chart-2: 251.4545 84.61% 74.5%;
    --chart-3: 48 10.63% 9.21%;
    --chart-4: 248.2759 25.21% 22.54%;
    --chart-5: 17.7778 60% 44.11%;
    --sidebar: 30 3.33% 11.76%;
    --sidebar-foreground: 46.1538 9.77% 73.92%;
    --sidebar-primary: 0 0% 20.39%;
    --sidebar-primary-foreground: 0 0% 98.43%;
    --sidebar-accent: 60 3.44% 5.68%;
    --sidebar-accent-foreground: 46.1538 9.77% 73.92%;
    --sidebar-border: 0 0% 92.15%;
    --sidebar-ring: 0 0% 70.98%;
    --font-sans: "Work Sans", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  * {
    @apply border-border antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }

  a {
    @apply transition-colors duration-200;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .hidden-fix {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    height: 0;
  }

  svg.animate-dash {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  svg.animate-dash circle {
    fill: none;
    stroke: hsl(var(--primary));
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }

  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dashoffset: -125px;
    }
  }
}

.preview ul {
  @apply list-disc pl-8 leading-[inherit];
}

.preview ol {
  @apply list-decimal pl-8 leading-[inherit];
}

.preview a {
  @apply underline;
}

.tiptap {
  @apply p-4 min-h-28 max-h-60 overflow-y-auto text-sm focus:outline-none;
}

.tiptap ul {
  @apply list-disc px-4 mb-4;
}

.tiptap ol {
  @apply list-decimal px-4 mb-4;
}

.tiptap ul li:not(:last-child) {
  @apply mb-2;
}

.tiptap p + ul,
.tiptap p + ol {
  @apply mt-4;
}
.tiptap a {
  @apply underline;
}

.line-heights {
  @apply hidden;
}
